.room-card {
  .room-card img {
  height: 220px;        /* fixed height */
  width: 100%;          /* full card width */
  object-fit: cover;    /* crop nicely */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

}

.room-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgb(245, 242, 242);
}

.price {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #0d6efd;
}
